<body>
<div class="container">
  <h1>Reset Password</h1>
  <div><hr></div>

  <form [formGroup]="ForgotPassword" (ngSubmit)="resetPassword()">
    
    <div>
      <label>Username</label><br>
      <input type="text" formControlName="username" placeholder="Username"  required>
    </div >
    <div *ngIf="ForgotPassword.controls ['username'].touched" >
      <small *ngIf="ForgotPassword.controls ['username'].errors" class="errors">Username should not be empty</small>
    </div>
    
    <div>
      <label>Password</label><br>
      <input type="password" formControlName="password"  placeholder="Password" required>
    </div>
    <div *ngIf="ForgotPassword.controls ['password'].touched" >
      <small *ngIf="ForgotPassword.controls ['password'].errors" class="errors">Password should not be empty</small>
    </div>
    
    <div>
      <label class="input">Confirm Password</label><br>
      <input type="password"  formControlName="reEnterPassword" placeholder="Confirm Password"  required>
    </div>
    <div *ngIf="ForgotPassword.controls ['reEnterPassword'].touched" >
      <small *ngIf="ForgotPassword.controls ['reEnterPassword'].errors" class="errors">Password should not be empty</small>
    </div>
    
    <button type="submit">Reset Password</button>
  
  </form>
  <router-outlet></router-outlet>

</div>

</body>
